<div class="col mb-4">
  <div class="card" style="width: 25rem; height: 30rem;">
    <div class="card-img-top">
      <div id="<%= carouselId %>" class="carousel slide carousel-fade h-100">
        <div class="carousel-inner h-100">
          <% images.forEach((img, idx) => { %>
            <div class="carousel-item <%= idx === 0 ? 'active' : '' %> h-100">
              <img src="<%= img %>" class="d-block w-100" alt="<%= title %> image <%= idx + 1 %>">
            </div>
          <% }) %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#<%= carouselId %>" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#<%= carouselId %>" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="card-body">
      <h5 class="card-title text-center"><%= title %></h5>
      <p class="card-text mb-5" style="font-size: smaller;"><%= description %></p>
      <a href="<%= link %>" target="_blank">
        <button class="viewBtn">View project</button>
      </a>
    </div>
  </div>
</div>
